{% extends "base.html.j2" %}

{% block content %}
<h1>Create Group</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label(class_="form-label") }}
    {{ form.name(class_="form-control") }}
    <div id="name-help" class="form-text">Write the group name</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
