{% extends "base.html.j2" %}

{% block content %}

{% for message in messages %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ message.message }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-clock"></i> {{ message.created_date }}</h6>
        <p class="card-text">ip: {{ message.ip_address }} user: {{ message.post_by.username }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
